<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mbti.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[mbti] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%C:%L] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/mbti.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[mbti] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%C:%L] - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.wybs" level="$log.level$" />
    <logger name="org.springframework" level="info" />
    <root level="info">
        <appender-ref ref="file" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
